html, body, div, h1, fieldset, textarea, li, ul, hr, select {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    height: 100%;
	
}

form, input {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
}

body {
	height: 100%;
    background: #FFF;
}
body, a, input, textarea, select{
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 1.3;
}
a {
	font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.header {
	height: 4%;
	background: #0072C6;
    padding: 10px;
}

.selection {
	font-size: 18px;
	float: left; top: 4%;
	height: 96%;
    width: 15%;
	background: #99CCFF;
}

.main {
	float:left;
	width: 70%;
	height: 96%;

}

.right-side {
    float: left; top: 4%; 
	height: 96%;
    width: 15%;
	background: #99CCFF;
}

.left-text {
	float: left;
}

.right-text {
	float: right;
}

table.emails{
	width: 100%;
	height: 80%;
	border-collapse: separate;
	border-spacing: 10px;
}

td {
	border: 1px solid black;
}

h1 {
	color: #FFFFFF;
    font-size: 20px;
}